.container{
    display: grid;
    grid-template-columns: 10% 70% 20%;
}

.infocontainer{
    grid-column: 1;
    outline: 2px dashed red;
}

.projectscontainer{
    grid-column: 2;
    outline: 2px dashed green;
    display: grid;
}

.buttoncontainer{
    grid-column: 3;
    outline: 2px dashed blue;
}

button{
    width: 100px;
    height: 40px;
    background-color: darkgreen;
    color: white;
    border-radius: 3px;
    border-color: darkgreen;
}