<form method="get" action="/create">
    <label for="width">Width:</label>
    <input type="text" id="width" name="width" required/>
    <label for="height">Height:</label>
    <input type="text" id="height" name="height" required/>
    <label for="xCoordinate">x-Coordinate:</label>
    <input type="text" id="xCoordinate" name="xCoordinate" required/>
    <label for="yCoordinate">y-Coordinate:</label>
    <input type="text" id="yCoordinate" name="yCoordinate" required/>
    <label for="type">Type:</label>
    <select id="type" name="type">
        <option value="building">Building</option>
        <option value="greenSpace">Green Space</option>
        <option value="street">Street</option>
    </select>


    <button type="submit">ADD NEW STRUCTURE</button>
</form>