html
    head
        title VisCity
        link(rel='stylesheet',href='/css/createproject.css')
        strong VISCITY

    body

        .container
            form(method="post")
                .infocontainer
                    label Projectname:
                        input(type="text", name="projectname", required=true)
                    br
                    label Description
                        input
                    br
                    label Tags:
                        input
                    br
                    label Private
                        input(type='checkbox')


                .buttoncontainer
                    button(type="submit") CREATE

    footer
        p cc