html
    head
        title VisCity
        link(rel='stylesheet',href='/css/createproject.css')
        script.
            function setURL() {
                let action = "/project/" + document.getElementByName("projectname").value + "/editmode";
                let form = document.getElementById('form');
                form.action = action;
            };

        strong VISCITY

    body

        .container
            form(method="get" onsubmit= setURL() id="form")
                .infocontainer
                    label Projectname:
                        input(type="text", name="projectname", required=true)
                    br
                    label Description
                        input
                    br
                    label Tags:
                        input
                    br
                    label Private
                        input(type='checkbox')

                .buttoncontainer
                    button(type="submit") CREATE

    footer
        p cc