html
    head
        title EDIT
        link(rel='stylesheet',href='/css/editmode.css')

    body
        .container
            .headline
                h1 VISCITY
                h2 example project - edit mode
                button SAVE

            .flexcontainer
                .mapcontainer

                .buttoncontainer
                    button(onclick='test()') ADD NEW STRUCTURE

    footer
        p (c) 2023 Gebert & Rehtanz Gmbh