html
    head
        title EDIT
        link(rel='stylesheet',href='/css/editmode.css')
    body
        .container
            .headline
                h1 VISCITY
                h2 #{project.projectname} - edit mode
                include save.html

            .flexcontainer
                .mapcontainer
                    include structuresList
                .buttoncontainer
                    include addNewStructure2

    footer
        p (c) 2023 Gebert & Rehtanz Gmbh