html
    head
        title VisCity
        link(rel='stylesheet',href='/css/styles.css')
        strong VISCITY

    body

        .container
            .infocontainer
                p name:
                p creator:
                p last edited:
                p created:
            .projectscontainer
                p projects
            .buttoncontainer
                button CREATE

    footer
        p cc