html
    head
        title LandingPage
        link(rel='stylesheet',href='/css/index.css')

    body
        .headline
            h1 VISCITY
        .container
            .infocontainer
                h1 your interactive city planner
            .buttoncontainer
                button get started
                button login

    footer
        p (c) 2023 Gebert & Rehtanz Gmbh