html
    head
    header VISCITY LOGIN
    body
        form(method="get")
            input#username(type="text", name="username", required=true) username
            input#password(type="password", name="password", required=true) password
            button(type="submit") login