html
    head
        title EDIT
        link(rel='stylesheet',href='/css/myProjects.css')

    body
        .container
            .headline
                h1 VISCITY

            .flexcontainer
                .projectscontainer
                    h2 MY PROJECTS
                    p (get projects from project list in database)

                .buttoncontainer
                    button CREATE NEW PROJECT

    footer
        p (c) 2023 Gebert & Rehtanz Gmbh
