html
    head
        title EDIT
        link(rel='stylesheet',href='/css/myProjects.css')

    body
        .container
            .headline
                h1 VISCITY

            .flexcontainer
                .projectscontainer
                    h2 MY PROJECTS
                    p #{projects}
                    for project in projects
                        li #{project.projectname}
                    //include projectList

                .buttoncontainer
                    include createnewproject.html
                .buttoncontainer2
                    include createnewproject2.html

    footer
        p (c) 2023 Gebert & Rehtanz Gmbh
